layout {
  pane size=1 borderless=true {
      plugin location="tab-bar"
  }

  pane command="nvim" size="70%" {
    args "."
  }

  pane size="30%" name="terminal"

  pane size=1 borderless=true {
      plugin location="status-bar"
  }
}
